{% extends "base.jinja" %}
{% block title %} {% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css?t=205615"/>
{% endblock %}

{% block main %}
<div class="row ">
        <div class="logo"></div>
        <ul>
                <li class="su-label">
                    <label>ADD：</label>
                    <label>浙江杭州钱江新城新业路8号UDC时代大厦A座17层</label>
                </li>
                 <li class="su-label">
                    <label >17F</label>
                    <label >TowerA,Uncommon Distrist Center, No.8.xinye Rd,Hangzhou 310016,China</label>
                </li>
                 <li class="su-label">
                    <label >tel：</label>
                    <label >0571-85020900</label>
                </li>
                <li class="su-label">
                     <label >Fax：</label>
                    <label >0571-85020900</label>
                </li>
            </ul>
    </div>
{% endblock %}