<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>婚礼时光</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap/responsive-nav.css">
    <link rel="stylesheet" href="/static/css/bootstrap/styles.css">
    <script src="/static/js/bootstrap/responsive-nav.js"></script>
  </head>
  <body>

    <nav class="nav-collapse">
      <ul>
        <li><a href="http://google.com">Home</a></li>
        <li><a href="http://google.com">About</a></li>
        <li><a href="http://google.com">Projects</a></li>
        <li><a href="http://google.com">Blog</a></li>
      </ul>
    </nav>

    <div class="ly-plate">
        <div class="rotate-bg"></div>
        <div class="lottery-star"><img src="/static/images/rotate-static.png" id="lotteryBtn"></div>
    </div>

    <script type="text/javascript" src="/static/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jQueryRotate.2.2.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.easing.min.js"></script>

    <script>
      var navigation = responsiveNav(".nav-collapse", {
        animate: true,                    // Boolean: Use CSS3 transitions, true or false
        transition: 284,                  // Integer: Speed of the transition, in milliseconds
        label: "Menu",                    // String: Label for the navigation toggle
        insert: "after",                  // String: Insert the toggle before or after the navigation
        customToggle: "",                 // Selector: Specify the ID of a custom toggle
        closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
        openPos: "relative",              // String: Position of the opened nav, relative or static
        navClass: "nav-collapse",         // String: Default CSS class. If changed, you need to edit the CSS too!
        navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
        jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
        init: function(){},               // Function: Init callback
        open: function(){},               // Function: Open callback
        close: function(){}               // Function: Close callback
      });
    </script>

  <script type="text/javascript">
$(function(){
	var timeOut = function(){  //超时函数
		$("#lotteryBtn").rotate({
			angle:0,
			duration: 10000,
			animateTo: 2160, //这里是设置请求超时后返回的角度，所以应该还是回到最原始的位置，2160是因为我要让它转6圈，就是360*6得来的
			callback:function(){
				alert('网络超时')
			}
		});
	};
	var rotateFunc = function(awards,angle,text){  //awards:奖项，angle:奖项对应的角度
		$('#lotteryBtn').stopRotate();
		$("#lotteryBtn").rotate({
			angle:0,
			duration: 5000,
			animateTo: angle+1440, //angle是图片上各奖项对应的角度，1440是我要让指针旋转4圈。所以最后的结束的角度就是这样子^^
			callback:function(){
				alert(text)
			}
		});
	};

	$("#lotteryBtn").rotate({
	   bind:
		 {
			click: function(){
				var time = [0,1];
					time = time[Math.floor(Math.random()*time.length)];
				if(time==0){
					timeOut(); //网络超时
				}
				if(time==1){
					var data = [1,2,3,0]; //返回的数组
						data = data[Math.floor(Math.random()*data.length)];
					if(data==1){
						rotateFunc(1,157,'恭喜您抽中的一等奖')
					}
					if(data==2){
						rotateFunc(2,247,'恭喜您抽中的二等奖')
					}
					if(data==3){
						rotateFunc(3,22,'恭喜您抽中的三等奖')
					}
					if(data==0){
						var angle = [67,112,202,292,337];
							angle = angle[Math.floor(Math.random()*angle.length)]
						rotateFunc(0,angle,'很遗憾，这次您未抽中奖')
					}
				}
			}
		 }

	});

})
</script>

  </body>
</html>
