<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>jQuery - Start Animation</title>
</head>
<body>
    <script type="text/javascript" src="http://resource.elong.com/JSLib/jquery/jquery-min-lastest.js"></script>
    <script src="/static/js/lib/jquery-1.4.4-vsdoc.js"></script>
    <input id="iterateObject" type="button" value="each参数" />
    <div id="divResult">
    </div>
    <script type="text/javascript" >
        $("#iterateObject").click(function(event)
            {
                var pp = location.href.indexOf;
                alert(pp)
                var test = {user_id:11,
                            page_no:1};
                alert(test)
                var ser = $.param(test)
                alert(ser)

            });
    </script>
</body>
</html>