<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<title>Origin Group - 相原集团</title>
<meta name="keywords" content="相原,相原房产,相原集团,杭州相原" />
<meta name="description" content="杭州相原房地产集团有限公司官方网站" />
<script language="javascript" type="text/javascript">
setTimeout("javascript:location.href='/index/'", 5000);
</script>
	<head>
		<title>index</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css" media="screen">
		html, body { height:100%; background-color: #ffffff;}
		body { margin:0; padding:0; overflow:hidden; }
		#flashContent { width:100%; height:100%; }
		</style>
	</head>
	<body>
		<div id="flashContent">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100%" height="100%" id="index" align="middle">
				<param name="movie" value="/static/images/index.swf" />

				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="/static/images/index.swf" width="100%" height="100%">
					<param name="movie" value="/static/images/index.swf" />

				<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflash">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
					</a>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
		</div>
	</body>
</html>
